#root {
  max-width: 1280px;
  text-align: center;
  background-color: #FBF6F4; /* Light cream background */
}

/* Custom scrollbar for the dialog */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #b6afaf;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #b6afafdc;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}


/* Background gradient */
.main-bg-gradient {
  background: linear-gradient(135deg, #f75f07, #FBF6F4);
}

/* Enhanced Shadow */
.shadow-2xl {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

/* Main color border */
.border-main {
  border-color: #f75f07;
}


.main-bg {
  background-color: #f75f07 !important;
}

.secondary-bg {
  background-color: #FBF6F4 !important;
}

.main-text {
  color: #f75f07 !important;
}
.secondary-text {
  color: #FBF6F4 !important;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
